body {
    font-size: 1rem;
    background-attachment: fixed;
}
.logo img {
    height: 35px; 
    margin-right: 15px;
}

.film {
    display: flex;
    justify-content: center;
    align-items: center;
}

.film img {
    width: 100%;
}

.footer {
    position: fixed;
    font-size: 1.8vmin;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d9230f;
    color: white;
    text-align: center;
    padding: 10px;
    a {
        color: white !important;
        &:visited,
        &:link,
        &:hover,
        &active {
            color: white !important;
        }
    }
}